body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

section {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

.hidden {
    display: none;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.resumo {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.resumo div {
    background: #eee;
    padding: 10px;
    width: 30%;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}