body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

section {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

.hidden {
    display: none;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.resumo {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.resumo div {
    background: #eee;
    padding: 10px;
    width: 30%;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-excluir {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 6px;
}

li.entrada {
    border-left: 6px solid green;
}

li.saida {
    border-left: 6px solid red;
}

button {
    cursor: pointer;
}

.msg {
    text-align: center;
    padding: 6px;
    margin: 10px 0;
    color: #155724;
    background: #d4edda;
    border-radius: 4px;
    display: none;
}